<section class="about">
  <div class="container">
    <div class="about-image">
      <img
        src="https://media.istockphoto.com/id/520874874/photo/futuristic-about-us-concept-on-hi-tech-touchscreen.jpg?s=612x612&w=0&k=20&c=SeWhnZQFV_yPQi9PTVfNCiiRTZttJWYfThDWg9IHia0="
        alt="Team Working">
    </div>
    <div class="about-content">
      <h2>Who is JSONPlaceholder</h2>
      <p>JSONPlaceholder is a free online REST API that you can use whenever you need some fake data. It can be in a README on GitHub, for a demo on CodeSandbox, in code examples on Stack Overflow, ...or simply to test things locally.

      </p>
      
    </div>
  </div>
</section>